@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Raleway:wght@300;400;600&display=swap');
body{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
}

.container{
    padding-top: 64px;
    padding-left: 0px;
    margin: 0 auto;
    width:100%;
    text-align:center;
}
.real_header{
    background-color: white;
    width:100%;
    height: 64px;
    position: fixed;
    z-index: 1;
}
.menu{
    background-color: white;
    float: left;
    width: 300px;
}
.page_title{
    width:calc(100%-20px);
    height:210px;
    text-align:left;
    font-size:3em;
    color:#71dfa6;
    padding-top:30px;
    padding-left:20px;
    background-color:white;
}
.v-line{
    background-color: #71dfa6;
    width:2px;
    height: 1000px;
    float:right;
    padding-right : 0px;
    margin: 0 auto;
    z-index: 0;
}
.v-line2{
    float:left; 
    height:100%; 
    position: absolute; 
    top:0;
}
.main{
    float: right;
    width: calc(100% - 300px);
    font-family: 'Noto Sans KR', sans-serif;
    padding:0;
}
.main_top{
    background-color: bisque;
    margin: 0 auto;
    padding: 0;
}
.main_bottom{
    clear: both;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.section input[id*="slide"]{
    display:none;
}
.section [id="slide01"]:checked ~.slidewrap .slidelist >li{transform:translateX(0%);}
.section [id="slide02"]:checked ~.slidewrap .slidelist >li{transform:translateX(-100%);}
.section [id="slide03"]:checked ~.slidewrap .slidelist >li{transform:translateX(-200%);}

.section .slidewrap{
    max-width:100%;
    margin: 0 auto;
    overflow:hidden;
}
.section .slidelist{
    white-space:nowrap;
    font-size:0;
    padding: 0;
    margin: 0 auto;
}
.section .slidelist > li {
    display:inline-block;
    vertical-align:middle;
    width:100%;
    transition:all .5s;
}
.section .slidelist >li >a{
    display:block;
    position:relative;
}
.section .slidelist > li > a img{
    width:100%;
}
.section .slidelist label{
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    cursor:pointer;
}
.section .slidelist .left{
    left:30px;
    background: url('./left.svg') center center / 100% no-repeat;
}
.section .slidelist .right{
    right:30px;
    background: url('./right.svg') center center / 100% no-repeat;
}
.main_image{
    width:40%;
    min-height:300px;
    float: left;
    margin: 0 auto;
    padding: 0;
    display:flex;
}
.main_text{
    width:60%;
    float: left;
    overflow: hidden;
    position: relative;
    padding:0;
}
.main_title{
    width:90%;
    min-height:100px;
    background-color: white;
    text-align: left;
    font-size: 3em;
    padding: 0.3em;

}
.caption{
    font-size: 25px;
}
.main_contents{
    background-color: white;
    text-align: left;
    font-size: 2em;
    line-height: 1.5em;
    padding:0.3em;
}
.main_price{
    padding-right: 1em;
    padding-left: 1em;
    width:100%;
    height: 40px;
    background-color: #71dfa6;
    text-align: right;
    line-height: 40px;
    color: white;
}
.price{
    float:right;
    margin-right:2em;
}
.info{
    float:left;
}
.people_space{
    display: flex;
    justify-content: space-between;
    text-align:left;
    font-size:25px;
    width:95%;
    height:100%;
}
.people{
    width:40%;
    word-break:break-all;
}
.space{
    width:40%;
    word-break:break-all;
    text-align: left;
    padding-left:10px;
}
.mix{
    width: 20%;
    padding: 0;
    text-align: center;
}

.mix_img {
    width:100%;
    height:100%;
    object-fit: cover;
}
.nav{
    width:298px;
    float:left;
    height:100%;
    background-color: white;
    color:#71dfa6;
    list-style: none;
    padding-left: 0px;
    margin: 0 auto;        
}
.side a{
    width:280px;
    height:4em;
    line-height:4em;
    display: inline-block;
    text-align:left;
    text-decoration: none;
    font-weight: bold;
    padding-left:20px;
    color:#71dfa6;
    font-family: 'Noto Sans KR', sans-serif;
}
.side a:hover{
    background-color:#fff2a5;
    color:#71dfa6;
}
a{
    text-decoration: none;
    color:#71dfa6;
}
/*
a{text-decoration-line: none;}
a { text-decoration: none; color:#75ADF4;}
a:visited { text-decoration: none; }
a:hover { text-decoration: none;}
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; color:white;}
*/
.footer{
    clear: both;
    float: right;
    background-color: #71dfa6;
    width: 100%;
    height: 64px;
    text-align: center;
    line-height:64px;
    padding: 0;
    margin: 0;
}

hr{
    border: solid 1px #71dfa6; 
    width:99%; 
    float:left; 
    margin: 0 auto;
    padding:0;
}

@media (max-width: 800px){
    .page_title{
        height:90px;
        font-size:2em;
        padding-top:10px;
        padding-left:10px;
    }
    .container{
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    .menu{
        width:100%;
        padding-top:64px;
    }
    .main{
        width:100%;
    }
    .main_image{
        width:100%;
    }
    .main_text{
        width:100%;
        font-size: 1.5em;
    }
    .main_title{
        font-size: 1.5em;
        margin: 0px;
    }
    .caption{
        font-size:0.5em;
    }
    .main_contents{
        font-size: 1em;
    }
    .main_price{
        padding-right:8px;
        font-size: 0.7em;
    }
    .nav{
        width:100%;
        height:100%;
    }
    .side a{
        padding-left:5px;
        width:100%;
        height:64px;
    }
    .v-line{
        height:0px;
        width:0px;
    }
    hr{
        width:100%;
    }
    .people_space{
        font-size: 0.7em;
        padding:10px;
    }
    .ex_side{
        display: none;
    }
}
@media (min-width: 800px){
    .menu{
        position: fixed;
    }
}